/* App imports */
@import "./_app-variables";
@import "./_theme";

$toggle:1025px;

/* table list */
.table-list{
    width: 100%;
    padding: 8px;
    padding-top: 26px;

        table{
            width: 100%;

           
            tr.start{
                background: rgba(230,74,25,.5);
            }            
            tr.pause{
                background: rgba(255, 152, 0,.5)
            }
            tr.ready{
                background: rgba(76,175,80,.5);
            }
             tr.end{
                 background: rgba(0,0,0,.5);
            }

             a{
                color:inherit;
                text-decoration: none;
            }
        }
}
@media screen and (max-width: $toggle){
    .users-list{
        padding: 0px;
        padding-top: 26px;
    }
}



